<!-- laracasts ep6 The need  for comouted properties  -->
<!doctype html>
<hmtl>
<head>
    <title></title>
</head>
<body>
    <div id="root">
        <h2>All Tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description" v-if="task.complete"></li>
        </ul>

        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    
    <script>
        var app = new Vue({
            el: '#root',
            data: {
                tasks: [
                    { description: "one", complete:true },
                    { description: "two", complete:false },
                    { description: "three", complete:true },
                    { description: "four", complete:false},
                ]
            }
        })
    </script>

</body>
</hmtl>